<main class="main">
  <div class="content">
    <button class="pill" (click)="onRedirect('helpcenter')" type="button">
      Help Center
    </button>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <button class="pill" (click)="onRedirect('peoplelist')" type="button">
      People
    </button>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <button class="pill" (click)="onRedirect('bookslist')" type="button">
      Books
    </button>
  </div>
  <div><app-hello-world /></div>
</main>
